

DMColloquium.xcodeproj/xcuserdata/IlyaKulebyakin.xcuserdatad/xcschemes/xcschememanagement.plist

DMColloquium.xcodeproj/xcuserdata/IlyaKulebyakin.xcuserdatad/xcschemes/DMColloquium.xcscheme

*.pbxproj

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcsettings
